body{
    background-image: url("images/churrasco2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    background-color:darkkhaki;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

footer{
    color: white;
    margin-top: 200px;
    text-align: right;
    display: inline-block;
}